.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;

    h1 {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        li {    
            margin: 1rem;
            border-style: solid;
            border-radius: 1rem;
            border-width: 1px;
            padding: 1rem;
        }
    }

    table {
        tbody {
            tr {
                td:first-child {
                    font-weight: bold;
                    padding-right: 1rem;
                }
            }
        }
    }

    button {
        padding: 0.5rem;
        background-color: red;
        color: white;
        border: none;
        
        &:hover {
            background-color: pink;
            color: black;
        }
    }

    .refreshButton {
        background-color: black;
        color: white;

        &:hover {
            background-color: grey;
            color: black;
        }
    }

    p {
        color: red;
    }
}
